* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.bg-img {
  /* The image used */
  /*background-image: url("/images/background-image.png");
    background-image: url("/images/background-image.png"), linear-gradient(180deg, #06151D 0%, rgba(6, 21, 29, 0) 100%);
    */
  background-color: #06243A;
  min-height: 1500px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */
  position: relative;
}

.container {
  position: absolute;
  width: 100%;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  padding: 75px;
  color: white;
}

.mobile-nav {
  display: none;
}

.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
}

.logo a {
  color: white;
  text-decoration: none;
}

.green {
  color: #4BEB4A;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.blue {
  color: #3ea0e6;
}

.dark-blue {
  color: #06243A;
}

nav div ul {
  display: flex;
}

nav div ul li {
  list-style: none;
  padding: 0 20px;
}

nav div ul li a {
  color: white;
  text-decoration: none;
}

nav div ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #4BEB4A;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-bottom: 3px;
}

nav div ul li a:active {
  text-decoration: underline;
  text-decoration-color: #4BEB4A;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  border-bottom: 3px;
}

.search_box {
  width: 12%;
  position: relative;
}

.search_box input[type="text"] {
  /*width: 100%; */
  padding: 5px;
  /*padding-right: 60px; */
  box-sizing: border-box;
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
  /*font-size: 18px; */
  color: #fff;
  outline: none;
}

.fa-search {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 4px;
  color: #fff;
  font-size: 16px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.certfp {
  padding: 0 75px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  height: 1300px;
}

.certfp h1 {
  font-size: 70px;
  line-height: 82px;
  margin-bottom: 50px;
}

.certfp p, .certfp li {
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
}

.certfp p {
  margin-bottom: 30px;
}

.command {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.command p {
  margin: 0;
}

.command div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
  font-size: 30px;
}

.command p {
  font-size: 28px;
}

.command span {
  font-size: 35px;
}

.certfp a {
  text-decoration: none;
  color: #138A9E;
}

.certfp h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 66px;
}

footer {
  padding: 75px;
  height: 516px;
  background: linear-gradient(180deg, rgba(6, 21, 29, 0.14) 1.38%, rgba(6, 21, 29, 0) 126.18%);
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top p {
  font-size: 42px;
  font-weight: bold;
  line-height: 49px;
  color: #06243A;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-bottom {
  display: flex;
  justify-content: center;
}

.footer-bottom ul {
  padding: 0 20px;
}

.footer-bottom ul li {
  list-style-type: none;
  font-weight: 300;
  font-size: 20px;
  line-height: 49px;
}

footer a {
  color: #06243A;
  text-decoration: none;
}

/* Greeting Modal Container */

#greeting-modal {
  visibility: hidden;
  opacity: 0;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#nav-modal {
  visibility: hidden;
  opacity: 0;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Greeting Modal Container - when open */

#greeting-modal:target {
  visibility: visible;
  opacity: 1;
}

#nav-modal:target {
  visibility: visible;
  opacity: 1;
}

/* Greeting Modal */

#greeting-modal .modal {
  opacity: 0;
  transform: translateY(-1rem);
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: .2s;
}

#nav-modal .modal {
  opacity: 0;
  transform: translateY(-1rem);
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: .2s;
}

/* Greeting Modal - when open */

#greeting-modal:target .modal {
  transform: translateY(0);
  opacity: 1;
}

#nav-modal:target .modal {
  transform: translateY(0);
  opacity: 1;
}

/* Modal Container Styles */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-modal-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Modal Background Styles */

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .2);
}

.nav-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .2);
}

/* Modal Body Styles */

.modal {
  z-index: 1;
  background-color: white;
  width: 80%;
  max-width: 900px;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  padding: 68px;
  justify-content: space-evenly;
  background: #D3E4FF;
  border-radius: 14px;
}

.mobile-modal-nav {
  z-index: 1;
  background-color: white;
  width: 70%;
  height: 100%;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #06243A;
}

.mobile-modal-nav ul {
  padding: 84px 0;
}

.mobile-modal-nav hr {
  border: 0;
    width: 150px;
    height: 2px;
    margin-top: 5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
 
}

.mobile-modal-nav li {
  list-style-type: none;
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  padding: 20px;
}

.mobile-modal-nav a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.modal li, .modal a {
  text-decoration: none;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  color: #06243A;
  line-height: 50px;
}

.vl {
  height: 40vh;
  border: 0;
  width: 2px;
  background-image: linear-gradient(to bottom, rgba(75, 235, 74, 1), rgba(75, 235, 74, .75), rgba(75, 235, 74, 0));
}




.accordionMenu{
  margin: 0 auto;
}

.accordionMenu input[type=radio]{
  display: none;
}
.accordionMenu label{
  display: block;
  line-height: 30px;
  padding: 15px;
  background: transparent;
  font-size: 25px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.accordionMenu label::after{
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  right: 10px;
  top: 30px;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordionMenu .content{
  max-height: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.accordionMenu .content .inner ul {
  margin: 0;
}


.accordionMenu .content .inner li, .accordionMenu .content .inner a{
  text-decoration: none;
  font-size: 20px;
  line-height: 0;
  color: #138A9E;
  background: transparent;
}

.accordionMenu .content .inner {
  padding: 0;
}

.accordionMenu input[type=radio]:checked + label:after{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordionMenu input[type=radio]:checked + label + .content{
  max-height: 420px;
  height: 450px;
}





@media screen and (max-width: 600px) {
  .bg-img {
    min-height: 1300px;
  }
  .logo {
    font-size: 25px;
  }
  .search_box {
    width: 95%;
  }
  nav {
    padding: 25px;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-between;
  }
  .mobile-nav img {
    height: 26.25px;
    width: 26.25px;
  }
  .mobile-nav div {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: white;
  }

  .certfp {
    padding: 0 25px;
  }
  
  .certfp h1 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  
  .certfp h3 {
    font-size: 25px;
}
  
  .certfp p, .certfp li {
    font-size: 18px;
    line-height: 25px;
  }
  
  .certfp p {
    margin-bottom: 20px;
  }
  
  .command {
    margin: 20px;
  }
  .command p {
    margin: 0;
  }
  
  .command div {
    padding: 10px;
    font-size: 16px;
  }
  
  .command p {
    font-size: 18px;
  }
  
  .command span {
    font-size: 18px;
  }
  
  footer {
    padding: 12px 25px;
    height: 181px;
  }
  .connect img {
    width: 30px;
  }
  .footer-top p {
    font-size: 12px;
  }
  .footer-bottom {
    display: flex;
    justify-content: center;
  }
  .footer-bottom ul {
    padding: 0 15px;
  }
  .footer-bottom ul li {
    font-size: 14px;
    line-height: 25px;
  }
  
}